<template name="music_player">
    <div class="controls music-player">
      <div class="play-pause-control music-player-section">
        <a class="play paused">
          <i class="fa fa-play"></i>
          <i class="fa fa-pause"></i>
        </a>
      </div>
      <div class="progress-control music-player-section">
        <div class="progress">
          <span class="meter"></span>
        </div>
      </div>
      <div class="volume-control music-player-section">
        <a class="volume">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </a>
        <a class="loop">
          <i class="fa fa-repeat"></i>
        </a>
        <a class="previous">
          <i class="fa fa-step-backward"></i>
        </a>
        <a class="next">
          <i class="fa fa-step-forward"></i>
        </a>
      </div>
    </div>
</template>