body {
  background: #fff;
}

.header {
  border-bottom: 1px solid #eee;
}

.search.empty .search-field {
  background: #f3f3f3;
}

.search .search-field:focus {
  background: #efedef;
}

.search.empty .search-field:focus {
  background: #efedef;
}
